@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --Orange: hsl(25, 97%, 53%);
    
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Medium-Grey-Alpha: hsla(216, 12%, 54%, 0.174);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);

    --main-font: 'Overpass', sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: var(--Very-Dark-Blue);
    font-family: var(--main-font);
    line-height: 1.7;
}

.container {
    background: radial-gradient(112.06% 54.21% at 55.84% 0%, #4B5461 0%, #34383F 46.85%, #252D37 100%); 
    width: 50%;
    max-width: 360px;
    margin: 10rem auto;
    border-radius: 20px;
}

.rating__card {
    display: flex;
    flex-direction: column;
    padding: 2rem;    
}

.container__rating__card__image-container {
    max-width:max-content;
    padding:1em;
    display:flex;
    align-items:center;
    justify-content:center;    
    background-color:var(--Medium-Grey-Alpha);
    border-radius:50%;
}

.rating__card__img {
    height:20px;
    width:20px;
}

.rating__card--h1 {
    margin-top: 1rem;
    color: var(--White);
}

.rating__card--p {
    color: var(--Light-Grey);
    font-size: 15px;
}

.rating__card__buttons {
    display:flex;
    justify-content: space-evenly;
    margin: 1.5rem 0;
}

.rating__card__buttons__number-btn-label {
    cursor:pointer;
    height:50px;
    width:50px;
    margin: 5px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:var(--Medium-Grey-Alpha);
    border: none;
    border-radius: 100%;
    color: var(--Light-Grey);
    transition:all 0.3s ease;
    overflow: hidden;
}

.rating__card__buttons__number-btn-label:hover {
    color:var(--White);
    background-color:var(--Light-Grey);
}

.rating__card__buttons__number-btn-label input[type="radio"] {
    display:none;
}

.rating__card__buttons__number-btn-label:has(input[type="radio"]:checked) {
    color:var(--White);
    background-color:var(--Orange);
}

.submit-btn {
    text-align: center;
    background-color: var(--Orange);
    color: white;
    font-weight: 700;
    text-decoration: none;
    width: 100%;
    padding:  15px;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    transition:all 0.3s ease;
}

.submit-btn:hover {
    color:var(--Orange);    
    background-color:var(--White);
    cursor: pointer;
}

.container__thank-you-card {
    padding:2em;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:2em;
    display:none;
}

.container__thank-you-card__rating {
    color:var(--Orange);
    padding:0.5em 1em;
    font-family:var(--main-font);
    font-size:1rem;
    font-weight:500;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius:20px;
    background-color:var(--Medium-Grey-Alpha);
}

.container__thank-you-card__message {
    color:var(--White);
    font-family:var(--main-font);
    font-size:2rem;
    font-weight:900;
}

.container__thank-you-card__appreciation-message {
    color:var(--Light-Grey);
    font-size:1rem;
    font-weight:500;
    text-align:center;
}

/*footer*/
.attribution { font-size: 11px; text-align: center; display: none; }
.attribution a { color: hsl(228, 45%, 44%); }
